html {
    scroll-behavior: smooth;
}
header{
    width:100%;
    background: #FFE6C2;
    position: fixed;
    top: 0;
}
#hh{
    opacity: 20%;
}
header h3 {
    margin: 10px 30px;
}
#hero p {
    text-align: center;
}
.anchor {
    padding-top: 50px;
    margin-top: -50px;
}
a{
    background-color: #276855;
    color: #FFE6C2;
    box-shadow: 1px 1px 3px darkgrey;
    text-decoration: none;
    border-radius: 8px;
    padding: 0px 5px;
}

h1{
    margin: 0px;
    text-align: center;
    color: #276855;
    font-size: 60px;
    padding: 20px;
}
h2, h4{
    color: #EF5C57;
}

#demo {
    text-align: center;
}

main{ 
    margin: 20px;
    margin-top: 100px;
}

body {
    margin: 0px;
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    background-color: #FFE6C2;
}


#burger {
    padding: 17px 15px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #EF5C57;
    border-radius: 300px;
    margin: 20px;
    box-shadow: 3px 3px 10px black;
    z-index: 5;
}

#burger div{
    position: relative;
    width: 25px;
    height: 5px;
    border-radius: 5px;
    background-color: #FFE6C2;
    transition: 0.5s;
}
#burg1{
    top: 0px;
}
#burg2{
    top: 3px;
}
#burg3{
    top: -2px;
}
#burg4{
    top: 1px;
}
nav {
    position: fixed;
    bottom: 80px;
    right: 0px;
    width: auto;
    padding: 20px 0px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-content:center;
    transform: translateX(110%);
    transition: 0.5s;
    text-align: end;
}
nav a {
    text-decoration: none;
    background-color: #FFE6C2;
    padding: 5px 10px;
    color: black;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


#burg1.twist {
    opacity: 0;
}
#burg2.twist {
    transform: rotate(-45deg);
}
#burg3.twist {
    transform: rotate(45deg);
}
#burg4.twist{
    opacity: 0;
}
nav.twist{
    transform: translateX(0%);
}

#kyle{
    box-sizing: border-box;
    width: 100%;
    padding: 0px 5%;
    max-width: 500px;
}


#where a {
    margin-bottom: 50px;
}


#mapy {
    width: 100%;
    height: 300px;
}

footer {
    margin-top: 50px;
    margin-bottom: 100px;
}
#addy {
    margin-bottom: 50px;
}

hr{
    border-style: none;
    background-color: black;
    height: 2px;
}